name: Build apk

on:
  workflow_dispatch:
    inputs:
      generate_intl:
        description: 'Update localization'
        required: false
        default: false
        type: boolean
  #push:
  #  paths:
  #    - '*.dart'
  #pull_request:
  #  paths:
  #    - '*.dart'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      GENERATE_INTL: ${{ github.event.inputs.generate_intl || 'false' }}
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '17.x'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '3.24.4'
      - run: flutter pub get
      - run: flutter --version
      - name: Generate intl (optional)
        if: ${{ env.GENERATE_INTL == 'true' }}
        run: dart run intl_utils:generate
      - run: flutter build apk --split-per-abi
      - name: Push to Releases
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/app/outputs/flutter-apk/*.apk"
          tag: v1.0.${{ github.run_number}}
          token: "${{ secrets.GITHUB_TOKEN }}"
